*{
  font-family: 'Nunito', sans-serif;
  background-color: #FFFFF0;
  
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif, 'Roboto', ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 /* NavBar Section  */
.navbar-nav {
  display: flex;
  }

.navbar-nav > .nav-item{
    list-style: none;
    padding-left: 2%;
    width: 50%;
    
}
.navbar-nav > .nav-item > .nav-link{
  text-decoration: none;
}


.about-section{
  border-radius: 2px solid #161602;
  width: 95%;
  padding-top: 5%;
margin: auto;
justify-content: center;
  }

  .about-section > h1, 
  h2 , p{
    margin-left: 3%;
    width: 80%;
    display:flex;
  justify-content: center;
  }

  .about-section  > p {
    font-size: large;
  }

/* End of NAvBAr SEct */

.home{
  display:flex;
  justify-content: center;
  
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: black;
  border-radius: 5px solid ;
}

.centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.6;

}
.search-container  {
  text-align: center;
  position: absolute;
  top: 75%;
  left: 50%;
  width: 20%;
  transform: translate(-50%, -50%);
   opacity: 0.6;
   background-color: black ;
}

/* End of Home SEction */

/* Artist Section  */
#artist-title{
  text-align: center;
  margin-bottom: 2em;
}
.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 10px;
  margin-bottom: 2rem;
 margin-left: 5rem;
  
 
  }
.cards {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;

}
.grid > .cards img {
  max-width: 100%;
}
.text {
  padding: 0 20px 20px;
}
.text > button {
  background:#D2B48C;
  border: 0;
  color: black;
  padding: 10px;
  width: 100%;
  }


/* End of ARtists SEct */


form.review-form {
  border: solid rgb(236, 219, 219) 1px;
  padding: 1em;
  width: 40%;
  display: grid;
  grid-template-columns: 1fr;
}

form.new-poem-form > input,
form.new-poem-form > textarea {
  font-size: 1em;
  font-family: nunito;
  margin-bottom: 0.5em;
}

input[type="submit"],
button {
  font-weight: bold;
  font-size: 1em;
  background: #D2B48C;
  border: solid black 1px;
  padding: 0.5em;
  width: 30%;
  cursor: pointer;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;
}

.form-center {
  display:flex;
  justify-content: center;
}
/* 
.img{
  width: 20%;
  display:flex;
  justify-content: center;
} */
/*  */