*{
  font-family: 'Nunito', sans-serif;
  background-color: #FFFFF0;
  
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif, 'Roboto', ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-nav {
  display: flex;
  }

.navbar-nav > .nav-item{
    list-style: none;
    padding-left: 2%;
    width: 50%;
    
}
.navbar-nav > .nav-item > .nav-link{
  text-decoration: none;
}


.about-section{
  border: 1px solid #161602;
  width: 95%;
margin: auto;
  }

  .about-section > h1, 
  h2 , p{
    margin-left: 3%;
    width: 80%;
  }

.home{
  display:flex;
  justify-content: center;
  
}

.searcharea{
   border-radius: 1px solid #D2B48C;
}

form.review-form {
  border: solid rgb(236, 219, 219) 1px;
  padding: 1em;
  width: 40%;
  display: grid;
  grid-template-columns: 1fr;
}

form.new-poem-form > input,
form.new-poem-form > textarea {
  font-size: 1em;
  font-family: nunito;
  margin-bottom: 0.5em;
}

input[type="submit"],
button {
  font-weight: bold;
  font-size: 1em;
  background: #D2B48C;
  border: solid black 1px;
  padding: 0.5em;
  width: 30%;
  cursor: pointer;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;
}

.form-center {
  display:flex;
  justify-content: center;
}
/* 
.img{
  width: 20%;
  display:flex;
  justify-content: center;
} */
/*  */